html {
    font-family: 'Oswald';
    color: #4F4F4F;
}

.main-rego {
    font-size: 36px;
    color: #8F7EFC;
    text-decoration: none;
}

.header-nav {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}

.reg-block-layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4.5%;
    padding-bottom: 5%;
}

.reg-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;

    gap: 40px;
    border: 2px solid #d3d3d3;
    border-radius: 40px;
    width: 600px;
    height: 550px;
}

.reg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.reg-block-ask-title h2, .reg-block-title h2{
    margin: 0;
    padding: 0;
}

.reg-block-or {
    display: flex;
    gap: 25px;
}

.reg-form input {
    border-radius: 40px;
    padding: 10px 20px;
    width: 400px;
    border: 2px solid #d3d3d3;
}

.reg-form input::placeholder {
    color: #aaaaaa;
}

.reg-btn button {
    background-color: #8F7EFC;
    color: #fff;
    padding: 10px 20px;
    width: 200px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
}

.log-link {
    text-decoration: none;
    background-color: #FFC151;
    color: #fff;
    padding: 10px 85px;
    border: 0px;
    border-radius: 40px;
}

.reset-password-link {
    text-decoration: none;
    color: #4F4F4F;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 100px 20px 100px;
    background-color: #F3F5FD;
}

.footer-tel-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-title h2 {
    margin: 0;
    color: #735FF1;
}

.footer-title p {
    color: #4F4F4F;
    margin-top: 10px;
}

.tel-number-img img {
    width: 40px;
    height: 40px;
}

.tel-number a {
    text-decoration: none;
    color: #4F4F4F;
}

@media screen and (max-width: 430px){
    .reg-block {
        border: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 3%;
    
        gap: 40px;
        border-radius: 40px;
        width: 400px;
        height: 500px;
    }

    .reg-form input{
        width: 300px;
    }

    .reg-block-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer {
        margin-top: 32.5%;
        gap: 35px;
    }

    .footer-title h2 {
        font-size: 18px;
    }

    .tel-number-img img {
        width: 30px;
        height: 30px;
    }

    .tel-number {
        width: 150px;
    }

    hr {
        width: 130px;
    }
}